.relative1 {
    font-size: 1.3em;
    border: 10px solid cyan;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: inline-block;
    position: static;
}

.relative2 {
    font-size: 5rem;
    border: 10px solid black;
    margin: 5px 120px 5px 10px;
}

.relative3 {
    font-size: 5ch;
}